<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments :: page_head('Categories - Shopme Admin')"></head>
		
<body>
<div class= "container-fluid"> 
	<div  th:replace = "navigation :: menu"></div>
	<div>
	<h2>Manage Brands</h2>
	<a th:href = "@{/brands/new}" class="fas fa-folder-plus fa-2x icon-gray"></a>
	&nbsp; 
	<a th:href = "@{/brands/export/csv}" class="fas fa-file-csv fa-2x icon-gray"></a>
	</div>
	<div th:if = "${message != null}" class = "alert alert-success text-center">
		[[${message}]]
	</div>
	<div th:replace="fragments :: search_form('/brands')"></div>

	<div class = "full-details">
		<table class = "table table-bordered table-striped table-hover ">
		<thead class = "thead-dark">
		<tr>	
				<th class="hideable-column">Brand ID</th> 
				<th>Logo</th> 
				<th th:replace= "fragments :: column_link('/brands', 'name','Brand Name', 'none' )"></th> 
					
				<th class = "hideable-column">Categories</th>
				<th></th>
		</tr>
		</thead>
		<tbody>
			
			<tr th:each = "brand : ${listBrands}">
					<td class = "hideable-column">[[${brand.id}]]</td>
					<td>
					<img th:src = "@{${brand.logoPath}}" style = "width : 100px" class = "img-fluid">
					</td>
					<td>[[${brand.name}]]</td>
					<td class = "hideable-column">
						<th:block th:each = "cat : ${brand.categories}" >
						<span class = "badge badge-secondary"> [[${cat.name}]] </span>
						</th:block>
					</td>
					<td>
						<div th:replace = "fragments :: actions('/brands', ${brand}, false)"></div>
					</td>
				</tr>
			
		</tbody>
		</table>
	</div>
	
	<div class = "less-details">
		<div th:each = "brand : ${listBrands}" class ="row m-1">
			<div class="col-4">
			<img th:src = "@{${brand.logoPath}}" style = "width : 100px" class = "img-fluid">
			</div>
			<div class = "col-8">
				<div>[[${brand.name}]]</div>
				<div class="mt-2">
					<div th:replace = "fragments :: actions('/brands', ${brand}, false)"/>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	
	<div th:replace ="fragments :: deleteModalPopUps"/>
	<div th:replace = "fragments :: pagination('/brands', 'brands')"></div>
	<div th:replace = "fragments :: footer"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link = $(this);
			entityId = link.attr("entityId")
			//when the yesButton is on, the href value in the yes Button will be changed to delete-link href 
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Are you sure you want to delete this brand ID " + entityId + " ?");
			$("#deleteConfirm").modal();
		});
	});
	
	function clearFilter(){
		window.location = "[[@{/brands}]]"
	};
</script>
</body>
</html>