<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<body>
	<div th:fragment = "content" remove="tag">
		<div class="row m-2" >
			<div class="col-3 border border-2 m-2 p-2">
				<div><label>Main Image: [[${product.mainImage}]]</label></div>
				<div class ="m-2 mb-3">
					<img alt="Main image preview" class="img-fluid"
						th:src = "@{${product.mainImagePath}}">
				</div>
			</div>
			
			<th:block th:each="productImage, status : ${product.images}">
			<div class="col-3 border border-2 m-2 p-2">
				<div>
					<label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
				</div>
				<div class ="m-2 mb-3">
					<img th:alt="'Extra image #'+${status.index + 1} + ' preview'" class="img-fluid"
						th:src = "@{${productImage.imagePath}}">
				</div>
			</div>
			</th:block>
		</div>
	</div>

</body>
</html>