<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments :: page_head('Categories - Shopme Admin')"></head>
		
<body>
<div class= "container-fluid"> 
	<div  th:replace = "navigation :: menu"></div>
	<div>
	<h2>Manage Categories</h2>
	<a th:href = "@{/categories/new}" class="fas fa-folder-plus fa-2x icon-gray"></a>
	&nbsp; 
	<a th:href = "@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-gray"></a>
	</div>
	<div th:if = "${message != null}" class = "alert alert-success text-center">
		[[${message}]]
	</div>
	<div th:replace="fragments :: search_form('/categories')"></div>

	<div class = "full-details">
		<table class = "table table-bordered table-striped table-hover table-responsive-xl">
		<thead class = "thead-dark">
		<tr>	
				<th>ID</th> 
				<th>Category Image</th> 
			
				<th th:replace= "fragments :: column_link('/categories', 'name','Category Name', 'none' )"></th> 
					
				<th class = "hideable-column">Alias</th>
				<th>Enabled</th> 
				<th></th>
		</tr>
		</thead>
		<tbody>
			<tr th:each = "cat : ${listCategories}">
				<td class = "hideable-column">[[${cat.id}]]</td>
				<td>
				<img th:src = "@{${cat.imagePath}}" style = "width : 100px" class = "img-fluid">
				</td>
				<td>[[${cat.name}]]</td>
				<td class = "hideable-column">[[${cat.alias}]]</td>
				<td>
					<div th:replace = "fragments :: status(${cat.enabled}, '/categories/' + ${cat.id})"></div>
				</td>
				<td>
					<div th:replace = "fragments :: actions('/categories', ${cat}, ${cat.hasChildren})"></div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	
	<div class = "less-details">
		<div th:each = "cat : ${listCategories}" class ="row m-1">
			<div class="col-4">
			<img th:src = "@{${cat.imagePath}}" style = "width : 100px" class = "img-fluid">
			</div>
			<div class = "col-8">
				<div>[[${cat.name}]]</div>
				<div class="mt-2">
					<div th:replace = "fragments :: status(${cat.enabled}, '/categories/' + ${cat.id})"/>
					&nbsp;
					<div th:replace = "fragments :: actions('/categories', ${cat}, ${cat.hasChildren})"/>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	
	<div th:replace ="fragments :: deleteModalPopUps"/>
	<div th:replace = "fragments :: pagination('/categories', 'categories')"></div>
	<div th:replace = "fragments :: footer"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link = $(this);
			entityId = link.attr("entityId")
			//when the yesButton is on, the href value in the yes Button will be changed to delete-link href 
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Are you sure you want to delete this category ID " + entityId + " ?");
			$("#deleteConfirm").modal();
		});
	});
	
	function clearFilter(){
		window.location = "[[@{/categories}]]"
	};
</script>
</body>
</html>